@model EvoWebsite.ViewsModels.CarListVM;
@{
    int counter = 0;
    double countCar = Model.cars.Count;
}
<div class="masthead" style="background-color:#232323">
    <div class="container-fluid" style="margin-top:9em;">

        <div class="row mt-2">
            <div class="col-sm ">
                <div class="dropdown mt-5">
                    <button class="btn btn-categorie" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Catégories ▼
                    </button>
                    <div class="dropdown-menu categorie" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item categorie-item" asp-area="" asp-controller="Car" asp-action="Index">Tous</a>
                        <a class="dropdown-item categorie-item" asp-area="" asp-controller="Car" asp-action="Supers">Supers</a>
                        <a class="dropdown-item categorie-item" asp-area="" asp-controller="Car" asp-action="Sports">Sports</a>
                        <a class="dropdown-item categorie-item" asp-area="" asp-controller="Car" asp-action="SportsClassics">Sports Classics</a>
                        <a class="dropdown-item categorie-item" asp-area="" asp-controller="Car" asp-action="Sedans">Sedans</a>
                        <a class="dropdown-item categorie-item" asp-area="" asp-controller="Car" asp-action="Muscles">Muscles</a>
                        <a class="dropdown-item categorie-item" asp-area="" asp-controller="Car" asp-action="SUVs">SUVs</a>
                        <a class="dropdown-item categorie-item active" asp-area="" asp-controller="Car" asp-action="Compacts">Compacts</a>
                        <a class="dropdown-item categorie-item" asp-area="" asp-controller="Car" asp-action="Coupes">Coupes</a>
                        <a class="dropdown-item categorie-item" asp-area="" asp-controller="Car" asp-action="Motos">Motos</a>
                        <a class="dropdown-item categorie-item" asp-area="" asp-controller="Car" asp-action="OffRoad">Off-Road</a>
                        <a class="dropdown-item categorie-item" asp-area="" asp-controller="Car" asp-action="Vans">Vans</a>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card p-2 m-2 vehicule-card">

                    <div class="card-body" style="height:7em;">
                        <div class="">
                            <input class="input-chercher form-control" id="search" />
                        </div>
                        <div class="">
                            <button class="btn btn-chercher" onclick="goto()">Chercher</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm">

            </div>
        </div>

    </div>

    <div class="container-fluid">
        <div class="headline">VOITURES COMPACTS</div>
        @if (Model.cars.Count != 0)
        {
            <div class="row">

                @foreach (var car in Model.cars)
                {


                    <div class="col-md-4 col-lg-3">
                        <div class="card p-3 m-2 box-shadow vehicule-card">
                            <img class="card-img-top vehicule-image" src="@car.ImgPath" alt="Card image cap">
                            <div class="card-body vehicule-cardbody">
                                <h2 class="vehicule-name">@car.Name</h2>
                                <button class="btn-card" onclick="window.location = '/commande/@car.Name'">@car.MSRP $</button>
                            </div>
                        </div>
                    </div>

                    counter++;
                }




            </div>

        }
        else
        {
            <h2 class="no-car-text">Il n'y a pas de voitures disponible</h2>
        }


    </div>
</div>
<script>

    function goto() {
        let search = document.getElementById("search").value;
        if (search != ""){
            window.location.href = "index?search=" + search
        }
    }


</script>