<div class="main-page">
    <div class="container-fluid h-100 main-overlay">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto center-text">
                    <h1 class="brand-heading" style="margin: 0px;margin-bottom: 0px; font-size: 50px;">EVOLUTION</h1>
                    <p class="intro-text" style="font-family: Cabin, sans-serif;font-size: 27px;">Scripts inédits, Communauté soudée, Optimisation constante</p>
                </div>
            </div>
        </div>
    </div>
</div>